/* custom fonts */
@font-face{
  font-family: Alexandria;
  src: url(/src/fonts/Alexandria-Regular.ttf);
  font-weight: regular;
}
@font-face{
  font-family: Alexandria;
  src: url(/src/fonts/Alexandria-Bold.ttf);
  font-weight: bold;
}
@font-face{
  font-family: Alexandria;
  src: url(/src/fonts/Alexandria-Black.ttf);
  font-weight: 900;
}
@font-face{
  font-family: Alexandria;
  src: url(/src/fonts/Alexandria-Light.ttf);
  font-weight: 200;
}

/* custom fonts */

.iconButton{
  transition: all .1s !important;
}
.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0,0,0, 0.4) !important;
}
.todoCard{
  transition: all .1s !important;
}
.todoCard:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 7px 7px rgba(0,0,0, 0.4) !important;
}
